<div id="signup" v-cloak>
  <div class="container" v-if="!cloudSuccess">
    <h1 class="text-center">Create an account</h1>
    <div class="signup-form">
      <p class="text-center">Let's get started! Becoming a member is free and only takes a few minutes.</p>
      <hr/>

      <!-- User avatar image upload box -->
      <div class="avatar-container">

        <div class="avatar-box">
          <img :src="myAvatar">
        </div>

      </div>

      <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError" :handle-parsing="handleParsingForm" ref="signupForm">
        <div class="form-group">
          <input type="text" id="avatarString" :value="myAvatar" style="display:none">
          <label for="full-name">Username</label>
          <input class="form-control" id="username" type="text" :class="[formErrors.username ? 'is-invalid' : '']" v-model.trim="formData.username" placeholder="Sturgis P. Sturgeon" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.username">What should we call you?</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Uh oh: {{ cloudError }} </small></p>
        <p class="text-danger" v-else-if="cloudError"><small>An error occured while processing your request. Please check your information and try again, or <a href="/support">contact support</a> if the error persists.</small></p>
        <div class="form-group" v-show="formData.username">
          <pay-money-button
            @success="submitForm"
            amount="0.05"
            pay-money-button-id="986">
          </pay-money-button>
        </div>
      </ajax-form>
      <p class="text-center">Have an account? <a href="/login">Sign in</a></p>
    </div>
  </div>
  <div class="container" v-if="cloudSuccess">
    <h1 class="text-center">Well done!!</h1>
    <div class="success-message">
      <hr/>
      <p>Your account is nearly ready. All you have to do is click the link we sent to <strong>{{formData.emailAddress}}</strong>.</p>
      <p>(You can still access your dashboard now, but some features will be unvavailable until we've verified your email address.)</p>
      <p><a class="btn btn-outline-info" href="/">Go to dashboard</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
