<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr/>
      <h4>What is this page for?</h4>
      <p>what is even life?</p>
      <p><small>These are the questions...</small></p>
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>Why is this sub called btc when all you talk about is bcash bcash bcash?</h4>
      <p>Because cats</p>
      <p><small>Oh snap</small></p>
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>Is Rogercoin a scammy bcash boat party?</h4>
      <p>Because cats</p>
      <p><small>So is your face</small></p>
    </div>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
