<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="script.js"></script>
</head>
<body>
	<div id="navbar" class="animated-background reversed">
		<span>Near me</span>
		<span>Trending</span>
		<span id="user-menu">Sign in</span>
	</div>
	<div id="section-form">
		<div id="sign-up-form">
			<div class="custom-url">
				<span class="http">https://</span>
				<span class="domain">paymoney.to/</span>
				<input type="text" id="username" name="username" placeholder="you">
			</div>
			<a href="/" class="large-button">
				<span class="icon">+</span>
				<span>Profile</span>
				<span>Picture</span>
			</a>
		</div>
		<img src="img/money-button.png" id="money-button">
	</div>
	<div id="url-display">
		<div class="url">http://paymoney.to/cranau</div>
		<a href="/" class="url-action-button copy">Copy</a>
		<a href="/" class="url-action-button visit-now">Visit now</a>
	</div>
		
	</div>
	<div id="section-hero" class="animated-background">
		<h1>Pay money to: [<span class="faded">You</span>]</h1>
		<p>Publish a custom website URL and share it with your fans on social media</p>
	</div>
</body>
</body>
</html>