body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	font-size: 1em;
}

#navbar {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1em;
}

#navbar span {
	margin: 0 1em;
	cursor: pointer;
}

#user-menu {
	float: right;
}

#url-display {
	position: absolute;
	text-align: center;
	z-index: -2;
	top:10em;
	width: 100%;
}

#url-display .url {
	font-size: 4em;
	font-weight: normal;
}

.url-action-button {
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 56px;
	background-size: 48px;
  display: inline-block;
  margin: 24px 24px;
  color: #4772f6;
  text-decoration: none;
  min-width: 48px;
  font-size: 1em;
}

.url-action-button.copy {
	background-image: url(img/copy.png);
}

.url-action-button.visit-now {
	background-image: url(img/visit-now.png);
}

#section-form {
	position: absolute;
	transform: translateX(-50%);
	left: 50%;

	transition: transform 2s;
	z-index: -1;
	background-color: white;
	width: 100%;
}

#section-form.submitted {
	transform: translate(-50%, -80%);
}

#section-hero {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#section-hero h1 {
	font-size: 5em;
	font-weight: normal;
}

#section-hero p {
	font-size: 2em;
}

.faded {
	opacity: 0.4;
}

#sign-up-form {
	background-image: url(img/glow.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	border-bottom: 1px solid darkgray;
	margin: 0 auto;
	padding: 2em 0;
	display: table;
}

#custom-url {
	transform: translateX(-12.5%);
}

#sign-up-form input {
	border: 0;
	border-bottom: 2px solid black;
	font-size: 1.5em;
	width: 6em;
	position: relative;
	top: 0.05em;
	left: 0; 
	padding-left: 0.05em;
}

#sign-up-form input:focus {
	outline: none;
	border-bottom-color: #4772f6;
	color: #4772f6;
}

.http {
	color: #ccc;
	font-size: 1.5em;
}

.domain {
	color: #999;
	font-size: 1.5em;
}

.large-button {
	height: 7em;
	width: 7em;
	background-color: #ccc;
	color: white;
	display: table;
	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	margin: 2em auto 1em;
	/*border: 1px solid #4772f6;*/
	color: #4772f6;
}

.large-button .icon {
	font-size: 5em;
	font-weight: 100;
	line-height: 0.75em;
}

.large-button span {
	display: block;
	line-height: 1.2;
}

#money-button {
	margin: 1em auto;
	display: block;
}

.animated-background {
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

.animated-background.reversed {
	animation: ReverseGradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes ReverseGradient {
	0% {
		background-position: 100% 50%
	}
	50% {
		background-position: 0% 50%
	}
	100% {
		background-position: 100% 50%
	}
}